In [6]:
while True:
    print("1.Add\n2.Sub\n3.Multi\n4.exit")
    h = int(input("Enter an option: "))
    a,b = int(input("Enter a value: ")),int(input("Enter b value: "))
    if h == 1:
        print("Addition of {} and {} is: {}".format(a,b,a+b))
    elif h == 3:
        print("Multiplication of {} and {} is: {}".format(a,b,a*b))
    elif h == 2:
        print("Substraction of {} and {} is: {}".format(a,b,a-b))
    elif h == 4:
        break
    else:
        print("Enter Valid Option. Try again")

1.Add
2.Sub
3.Multi
4.exit
Enter an option: 5
Enter a value: 2
Enter b value: 4
Enter Valid Option. Try again
1.Add
2.Sub
3.Multi
4.exit
Enter an option: 4
Enter a value: 2
Enter b value: 4

## Variable Length argument

In [9]:
def stdnt(*y):
#     print(n,type(n))
    print(y,type(y))
    return

stdnt(78,"Revathi",45,78,56,89,20)

(78, 'Revathi', 45, 78, 56, 89, 20) <class 'tuple'>

In [10]:
def emp(**w):
    print(w,type(w))
    return

emp(ename="Tejasri",esal=4578,eage=25)

{'ename': 'Tejasri', 'esal': 4578, 'eage': 25} <class 'dict'>

In [11]:
def emp(*p,**w):
    print(p,type(p))
    print(w,type(w))
    return

emp(23,56,78,9,ename="Tejasri",esal=4578,eage=25)

(23, 56, 78, 9) <class 'tuple'>
{'ename': 'Tejasri', 'esal': 4578, 'eage': 25} <class 'dict'>

In [12]:
def emp(*p,**w):
    print(p,type(p))
    print(w,type(w))
    return

emp(23,56,78,9,ename="Tejasri",esal=4578,eage=25,78)

SyntaxError: positional argument follows keyword argument (1255030326.py, line 6)

In [13]:
def emp(*p,**w):
    print(p,type(p))
    print(w,type(w))
    return

emp(23,56,78,9,ename="Tejasri",34,esal=4578,eage=25)

SyntaxError: positional argument follows keyword argument (3258906778.py, line 6)

In [14]:
def emp(n,*p,**w):
    print(n,type(n))
    print(p,type(p))
    print(w,type(w))
    return

emp("Maths",23,56,78,9,ename="Tejasri",esal=4578,eage=25)

Maths <class 'str'>
(23, 56, 78, 9) <class 'tuple'>
{'ename': 'Tejasri', 'esal': 4578, 'eage': 25} <class 'dict'>

In [21]:
def emp(n,y=78,*p,**w):
    print(n,type(n))
    print(p,type(p))
    print(w,type(w))
    return

emp("Maths",23,56,78,9,ename="Tejasri",esal=4578,eage=25,g)

SyntaxError: positional argument follows keyword argument (924772086.py, line 7)

## Data Structures:
    - To organize the data in order or unorder format
    - list
    - tuple
    - set
    - dictionary
    - string

## List:
    - It stores different data type elements
    - Changes can be done
    - It can be represented as "[]"
    - It allows duplicate values
    - Slicing can be done because of index values
    - It can be typecasted as list()
    - It stores in ordered format

## Tuple:
    - It stores different data type elements
    - Changes cant be done
    - It can be represented as "()"
    - It allows duplicate values
    - Slicing can be done because of index
    - It can be typecasted as tuple()
    - It stores in ordered format

## Set:
    - It stores different data type elements
    - Changes can be done
    - It can be represented as "{}" with a single value
    - It doesnt allows duplicate values
    - Slicing can't be done because of no index
    - It can be typecasted as set()
    - It stores in unordered format

## Dictionary:
    - It stores different data type elements with key and values pairs
    - Changes can be done
    - It can be represented as "{}" with no value in it
    - It doesnt allows duplicates for keys but for values
    - Slicing cane be done for values but not for keys
    - It can be typecasted as dict()
    - It stores in ordered format

## String:
    - It stores different data type elements but enclosed with ' or "
    - Changes can be done
    - It can be represented as ' or "
    - It allows duplicate values
    - Slicing can be done because of index
    - It can be typecasted as str()
    - It stores in ordered format

## List:

In [23]:
k = [12,45.00,'Prasad',True,4+5j,12,12,12]
print(k,type(k))

[12, 45.0, 'Prasad', True, (4+5j), 12, 12, 12] <class 'list'>

In [26]:
for i in range(len(k)):
    print(i,k[i],end=" ")

0 12 1 45.0 2 Prasad 3 True 4 (4+5j) 5 12 6 12 7 12

In [27]:
for i in k:
    print(i,type(i))

12 <class 'int'>
45.0 <class 'float'>
Prasad <class 'str'>
True <class 'bool'>
(4+5j) <class 'complex'>
12 <class 'int'>
12 <class 'int'>
12 <class 'int'>

In [31]:
n = [45,2]
m = [3,5]
print(m+n)

[3, 5, 45, 2]

In [48]:
h = [45,'89.012',98.00,True,78+5j,None,45,89,'Prasad']
print(h)
print(h[3])
print(h[-3])
print(h[3:])
print(h[-2:])
print(h[:6])
print(h[:-4])
print(h[2:5])
print(h[3:-4])
print(h[-5:7])
print(h[-6:-3])

[45, '89.012', 98.0, True, (78+5j), None, 45, 89, 'Prasad']
True
45
[True, (78+5j), None, 45, 89, 'Prasad']
[89, 'Prasad']
[45, '89.012', 98.0, True, (78+5j), None]
[45, '89.012', 98.0, True, (78+5j)]
[98.0, True, (78+5j)]
[True, (78+5j)]
[(78+5j), None, 45]
[True, (78+5j), None]

In [71]:
print(h)
print(h[::])
print(h[3::])
print(h[-4::])
print(h[2:6:])
print(h[3:-5:])
print(h[-4:7:])
print(h[-6:-2:])
print(h[2:6:2])
print(h[7:2:-1])
print(h[::-1])

[45, '89.012', 98.0, True, (78+5j), None, 45, 89, 'Prasad']
[45, '89.012', 98.0, True, (78+5j), None, 45, 89, 'Prasad']
[True, (78+5j), None, 45, 89, 'Prasad']
[None, 45, 89, 'Prasad']
[98.0, True, (78+5j), None]
[True]
[None, 45]
[True, (78+5j), None, 45]
[98.0, (78+5j)]
[89, 45, None, (78+5j), True]
['Prasad', 89, 45, None, (78+5j), True, 98.0, '89.012', 45]

In [72]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [74]:
print(list.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [75]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [78]:
h = [10]
print(h)
h.append(45)
print(h)

[10]
[10, 45]

In [79]:
print(h)
h.append('Prasad')
print(h)

[10, 45]
[10, 45, 'Prasad']

In [80]:
print(h)
h.append(45,89)
print(h)

[10, 45, 'Prasad']

TypeError: list.append() takes exactly one argument (2 given)

In [82]:
print(h)
h.append([45,786,9])
print(h)
h.append('THis is sample')
print(h)

[10, 45, 'Prasad', [45, 786, 9]]
[10, 45, 'Prasad', [45, 786, 9], [45, 786, 9]]
[10, 45, 'Prasad', [45, 786, 9], [45, 786, 9], 'THis is sample']

In [83]:
m = [45]
m.extend(8)
print(m)

TypeError: 'int' object is not iterable

In [84]:
print(m)
m.extend([45,98,True])
print(m)

[45]
[45, 45, 98, True]

In [85]:
print(m)
m.extend((78,98))
print(m)

[45, 45, 98, True]
[45, 45, 98, True, 78, 98]

In [86]:
print(m)
m.extend('THis is')
print(m)

[45, 45, 98, True, 78, 98]
[45, 45, 98, True, 78, 98, 'T', 'H', 'i', 's', ' ', 'i', 's']

In [87]:
p = [45,65,30]
print(p)
p.insert(100)

[45, 65, 30]

TypeError: insert expected 2 arguments, got 1

In [88]:
print(p)
p.insert(0,'Prasad')
print(p)

[45, 65, 30]
['Prasad', 45, 65, 30]

In [89]:
print(p)
p.insert(10,34)
print(p)

['Prasad', 45, 65, 30]
['Prasad', 45, 65, 30, 34]

In [92]:
k = [45,89,63,75]
print(k)
k.pop()
print(k)

[45, 89, 63, 75]
[45, 89, 63]

In [93]:
print(k)
k.pop(1)
print(k)

[45, 89, 63]
[45, 63]

In [94]:
q = [45,788,36,89,56,21,45]
print(q)

[45, 788, 36, 89, 56, 21, 45]

In [95]:
print(q)
q.remove()
print(q)

[45, 788, 36, 89, 56, 21, 45]

TypeError: list.remove() takes exactly one argument (0 given)

In [96]:
print(q)
q.remove(36)
print(q)

[45, 788, 36, 89, 56, 21, 45]
[45, 788, 89, 56, 21, 45]

In [97]:
print(q)
q.remove(200)
print(q)

[45, 788, 89, 56, 21, 45]

ValueError: list.remove(x): x not in list

In [98]:
y = [45,898,6,3,5]
print(y)
print(y.index(898))

[45, 898, 6, 3, 5]
1

In [99]:
print(y.index(500))

ValueError: 500 is not in list

In [101]:
c = [45,786,3,68]
print(c)
c.sort()
print(c)

[45, 786, 3, 68]
[3, 45, 68, 786]

In [102]:
a = [78,85,6,2,56]
print(a)
a.sort(reverse=True)
print(a)

[78, 85, 6, 2, 56]
[85, 78, 56, 6, 2]

In [103]:
w = [45,879,'Prasad',9.0154]
print(w)
w.reverse()
print(w)

[45, 879, 'Prasad', 9.0154]
[9.0154, 'Prasad', 879, 45]

In [104]:
q = [78,98,2]
z = q.copy()
print(q)
print(z)

[78, 98, 2]
[78, 98, 2]

In [107]:
v = [78,85,96,42,4,5,8,4,5,4,8,5,4]
print(v)
print(v.count(4))
print(v)
print(v.count(-200))

[78, 85, 96, 42, 4, 5, 8, 4, 5, 4, 8, 5, 4]
4
[78, 85, 96, 42, 4, 5, 8, 4, 5, 4, 8, 5, 4]
0

In [108]:
b = [78,5,4,2,8,9,6]
print(b)
b.clear()
print(b)

[78, 5, 4, 2, 8, 9, 6]
[]

In [109]:
c = [23,6,7,8]
print(c)
del c
print(c)

[23, 6, 7, 8]

NameError: name 'c' is not defined

In [111]:
g = (12,78.015,"Lalitha",False,None,45+5j,45,45,12,45)
print(g,type(g))
print(g[2])

(12, 78.015, 'Lalitha', False, None, (45+5j), 45, 45, 12, 45) <class 'tuple'>
Lalitha

In [112]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [114]:
p = (12,78,3,6,9,3,6)
print(p)
print(p.count(3))
print(p.count(-200))

(12, 78, 3, 6, 9, 3, 6)
2
0

In [118]:
n = (4,3,2,1,5,6,9,8)
print(n)
print(n.index(5))

(4, 3, 2, 1, 5, 6, 9, 8)
4

In [119]:
print(n)
print(n.index(-2))

(4, 3, 2, 1, 5, 6, 9, 8)

ValueError: tuple.index(x): x not in tuple

In [121]:
v = (1,23.022,'Kiran',False,45+3j,45,'12')
for i in range(len(v)):
    print(i,v[i])

0 1
1 23.022
2 Kiran
3 False
4 (45+3j)
5 45
6 12

In [122]:
for i in v:
    print(i,end=" ")

1 23.022 Kiran False (45+3j) 45 12

In [124]:
s,k = {},{'4'}
print(s,type(s))
print(k,type(k))

{} <class 'dict'>
{'4'} <class 'set'>

In [125]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [126]:
h = {'name':['Kiran','Rohit','suma','Kiran'],'age':23}
print(h,type(h))

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23} <class 'dict'>

In [127]:
print(h.get('name'))

['Kiran', 'Rohit', 'suma', 'Kiran']

In [128]:
print(h['age'])

23

In [129]:
print(h.keys())

dict_keys(['name', 'age'])

In [130]:
print(h.values())

dict_values([['Kiran', 'Rohit', 'suma', 'Kiran'], 23])

In [131]:
for i in h:
    print(i,type(i))

name <class 'str'>
age <class 'str'>

In [132]:
for i in h.items():
    print(i,type(i))

('name', ['Kiran', 'Rohit', 'suma', 'Kiran']) <class 'tuple'>
('age', 23) <class 'tuple'>

In [133]:
for i in h.keys():
    print(i,type(i))

name <class 'str'>
age <class 'str'>

In [134]:
for i in h.values():
    print(i,type(i))

['Kiran', 'Rohit', 'suma', 'Kiran'] <class 'list'>
23 <class 'int'>

In [135]:
print(h)
h.setdefault('sal')
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23}
{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23, 'sal': None}

In [146]:
print(h)
h.setdefault('branch','CSE')
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23, 'sal': None, ('sal', 4500): None}
{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23, 'sal': None, ('sal', 4500): None, 'branch': 'CSE'}

In [148]:
print(h)
h.pop()
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23, 'sal': None, ('sal', 4500): None, 'branch': 'CSE'}

TypeError: pop expected at least 1 argument, got 0

In [149]:
print(h)
h.pop(('sal', 4500))
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23, 'sal': None, ('sal', 4500): None, 'branch': 'CSE'}
{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23, 'sal': None, 'branch': 'CSE'}

In [150]:
print(h)
h.pop('age')
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'age': 23, 'sal': None, 'branch': 'CSE'}
{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': None, 'branch': 'CSE'}

In [151]:
print(h)
h.pop('address')
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': None, 'branch': 'CSE'}

KeyError: 'address'

In [152]:
print(h)
h.popitem()
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': None, 'branch': 'CSE'}
{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': None}

In [153]:
print(h)
h.popitem('name')
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': None}

TypeError: dict.popitem() takes no arguments (1 given)

In [157]:
print(h)
h.update({'sal':45000})
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': None}
{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': 45000}

In [158]:
print(h)
h.setdefault('branch')
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': 45000}
{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': 45000, 'branch': None}

In [159]:
print(h)
h['branch'] = 'CSE'
print(h)

{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': 45000, 'branch': None}
{'name': ['Kiran', 'Rohit', 'suma', 'Kiran'], 'sal': 45000, 'branch': 'CSE'}

In [160]:
q = [12,4]
z = {}
print(z.fromkeys(q))

{12: None, 4: None}

In [163]:
z = {45,8,5,96,'Prasad',45,0,'0.25',False,'arun'}
print(z)
z

{96, 0, '0.25', 5, 8, 45, 'arun', 'Prasad'}

{0, '0.25', 45, 5, 8, 96, 'Prasad', 'arun'}

In [164]:
for i in z:
    print(i,end=" ")

96 0 0.25 5 8 45 arun Prasad

In [165]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [178]:
list_val=[]
num=int(input())
for i in range(num):
    element=int(input("enter element: "))
    list_val.append(element)
print("Elements are: ",end=" ") 
for j in list_val:
    print(j,end=" ")

5
enter element: 10
enter element: 7
enter element: 2
enter element: 3
enter element: 8
Elements are:  10 7 2 3 8

In [182]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [183]:
a = {45,78,9,6,5,98}
b = {12,45,9,63,5}
print(a)
print(b)

{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}

In [184]:
print(a)
print(b)
print(a.union(b))
print(a)
print(b)

{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}
{98, 5, 6, 9, 12, 45, 78, 63}
{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}

In [185]:
print(a)
print(b)
print(a.intersection(b))
print(a)
print(b)

{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}
{9, 45, 5}
{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}

In [186]:
print(a)
print(b)
print(a.difference(b))
print(a)
print(b)

{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}
{78, 98, 6}
{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}

In [187]:
print(a)
print(b)
print(a.symmetric_difference(b))
print(a)
print(b)

{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}
{98, 6, 12, 78, 63}
{98, 5, 6, 9, 45, 78}
{5, 9, 12, 45, 63}

In [188]:
g = {45,78,6,3}
h = {45,3,45,8912,12}
print(g)
print(h)
g.intersection_update(h)
print(g)
print(h)

{3, 45, 78, 6}
{8912, 3, 12, 45}
{3, 45}
{8912, 3, 12, 45}

In [189]:
g = {45,78,6,3}
h = {45,3,45,8912,12}
print(g)
print(h)
g.difference_update(h)
print(g)
print(h)

{3, 45, 78, 6}
{8912, 3, 12, 45}
{6, 78}
{8912, 3, 12, 45}

In [190]:
g = {45,78,6,3}
h = {45,3,45,8912,12}
print(g)
print(h)
g.symmetric_difference_update(h)
print(g)
print(h)

{3, 45, 78, 6}
{8912, 3, 12, 45}
{6, 12, 78, 8912}
{8912, 3, 12, 45}

In [191]:
b = {12,78,56}
print(b)
b.add(45)
print(b)

{56, 12, 78}
{56, 12, 45, 78}

In [192]:
b = {12,78,56}
print(b)
b.add(45,78,96)
print(b)

{56, 12, 78}

TypeError: set.add() takes exactly one argument (3 given)

In [193]:
b = {12,78,56}
print(b)
b.add([45,12,85])
print(b)

{56, 12, 78}

TypeError: unhashable type: 'list'

In [194]:
b = {12,78,56}
print(b)
b.add((45,12,96,4))
print(b)

{56, 12, 78}
{56, (45, 12, 96, 4), 12, 78}

In [195]:
print(b)
v =b.copy()
print(v)

{56, (45, 12, 96, 4), 12, 78}
{56, (45, 12, 96, 4), 12, 78}

In [196]:
print(b)
b.pop()
print(b)

{56, (45, 12, 96, 4), 12, 78}
{(45, 12, 96, 4), 12, 78}

In [197]:
print(b)
b.pop(12)
print(b)

{(45, 12, 96, 4), 12, 78}

TypeError: set.pop() takes no arguments (1 given)

In [202]:
k = {12,78,56,89,200}
print(k)
k.discard(200)
print(k)

{200, 89, 56, 12, 78}
{89, 56, 12, 78}

In [203]:
g = 'this is sample example'
print(g,type(g))

this is sample example <class 'str'>

In [204]:
for i in g:
    print(i,end=" ")

t h i s   i s   s a m p l e   e x a m p l e

In [205]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [206]:
n = "This Is a ApSsDc Lab"
print(n)
print(n.swapcase())
print(n.title())
print(n.casefold())
print(n.capitalize())

This Is a ApSsDc Lab
tHIS iS A aPsSdC lAB
This Is A Apssdc Lab
this is a apssdc lab
This is a apssdc lab

In [213]:
a = "    THis is sample example"
b = "Demo Exmaple for justification     "
print(a)
print(b)
print(a.strip())
print(b.strip())
print(a.lstrip())
print(b.rstrip())
print(a.rjust(50))
print(b.ljust(50))
print(a.center(50))

    THis is sample example
Demo Exmaple for justification
THis is sample example
Demo Exmaple for justification
THis is sample example
Demo Exmaple for justification
                            THis is sample example
Demo Exmaple for justification
                THis is sample example

In [216]:
h = "Sample example for Python "
print(h.index('a'))
print(h.rindex('a'))
print(h.index('z'))

1
9

ValueError: substring not found

In [217]:
print(h)
print(h.rindex('z'))

Sample example for Python

ValueError: substring not found

In [220]:
print(h)
print(h.find('a'))
print(h.find('z'))
print(h.rfind('a'))
print(h.rfind('z'))

Sample example for Python
1
-1
9
-1

In [225]:
print(h)
print(h.replace('P','A'))
print(h)

Sample example for Python
Sample example for Aython
Sample example for Python

In [227]:
m = "Rajesh is a good boy"
n = "-".join(m)
print(n)

R-a-j-e-s-h- -i-s- -a- -g-o-o-d- -b-o-y

In [228]:
j = "TiLak is good at Teaching"
print(j.upper())
print(j.lower())

TILAK IS GOOD AT TEACHING
tilak is good at teaching

In [230]:
k = input().split(',')
print(k,type(k))

1,5,3,6,8,9
['1', '5', '3', '6', '8', '9'] <class 'list'>