## Variable assignments:

In [1]:
a,b = 10,45.00
a,b

(10, 45.0)

In [2]:
c,d,e = 12,45.012
c,d,e

ValueError: not enough values to unpack (expected 3, got 2)

In [3]:
w,e = 'Prasad','Tilak',20
w,e

ValueError: too many values to unpack (expected 2)

In [6]:
n = m = k = 10,45,'Praveen'
n,m,k

((10, 45, 'Praveen'), (10, 45, 'Praveen'), (10, 45, 'Praveen'))

In [7]:
n = '45'
n

'45'

In [8]:
m = '45.121'
print(m)

45.121

## Type:
    - To know the data type of a variable
    Syntax:
        type(variablename)

In [10]:
k = '78'
type(k)

str

In [11]:
w = '45.0215'
print(w,type(w))

45.0215 <class 'str'>

In [16]:
a,b,c,d,e,f = 12,78.000,False,'Lalitha',45+5j,None
print(type(a),type(b),type(c),type(d),type(e),type(f))

<class 'int'> <class 'float'> <class 'bool'> <class 'str'> <class 'complex'> <class 'NoneType'>

In [17]:
a=0,b=50,n=30
a,b,n

SyntaxError: cannot assign to literal (2928410432.py, line 1)

In [19]:
a = 10,50,48,"Rajesh"
type(a)

tuple

## Input Formatting:
    - To display an info to a user
    - To read a value from a user
    - By default data type is string
    Syntax:
        variablename = input("some message")

In [1]:
a = input("Enter a value: ")
b = input("Enter b value: ")
print(a,type(a),b,type(b))

Enter a value: 10
Enter b value: 78
10 <class 'str'> 78 <class 'str'>

In [3]:
a,b = input("Enter a value: "),input("Enter b value: ")
print("Addition of",a,"and",b,"is:",a+b)

Enter a value: 1
Enter b value: 5
Addition of 1 and 5 is: 15

## Type Casting:
    - To change the data type of one type to another data type
    - int()
    - float()
    - str()
    - complex()
    - bool()
    - All Data Structures Like[list(),tuple(),set() and dict()]

In [2]:
a,b = input("Enter a value: "),input("Enter b value: ")
print("Addition of",a,"and",b,"is:",int(a)+int(b))
print(type(a),type(b))

Enter a value: 1
Enter b value: 7
Addition of 1 and 7 is: 8
<class 'str'> <class 'str'>

## Output Formatting:
    - ,
    - format specifiers
    - .format
    - f string

In [9]:
a,b = int(input("Enter a value: ")),int(input("Enter b value: "))
print("Addition of",a,"and",b,"is:",a+b)
print("Substraction of %d and %d is: %d"%(a,b,a-b))
print("Division of {1} and {0} is: {2}".format(a,b,a/b))
print(f"Multiplication of {a} and {b} is: {a*b}")

Enter a value: 1
Enter b value: 8
Addition of 1 and 8 is: 9
Substraction of 1 and 8 is: -7
Division of 8 and 1 is: 0.125
Multiplication of 1 and 8 is: 8

## Operators:
    - Arithmetic => +,-,*,/,//,**
    - Logical => AND,OR,NOT
    - Relational => ==,!=,<=,>=,>,<
    - Assignment => +=,-=,*=,/=,//=,**=
    - Bitwise => &,|,!
    - Membership => in,not in
    - Identity => is,is not

In [13]:
a = 120
b = 30
print(a and b)

30

In [14]:
print(a or b)

120

In [15]:
print(a & b)
print(a | b)

24
126

```
Input:
    Enter a number: ?
    Enter b number: ?

Output:
    Entered numbers are: ? ?
    Entered First number is: '?' and second number is: '?'
```

In [18]:
a,b=int(input("Enter a number: ")),int(input("Enter b number: "))
print(f"Entered numbers are: {a} {b}")
print(f"Entered First number is: '{a}' and second number is: '{b}'")

Enter a number: 4
Enter b number: 5
Entered numbers are: 4 5
Entered First number is: '4' and second number is: '5'

In [19]:
import keyword

In [22]:
print(keyword.kwlist,len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'] 36

## Conditional Statements:
    - To check whether a given condition is Either True or False
    - if => 1 case
    - if-else => 2 cases
    - nested if => 3 or more cases
    - elif => 3 or more n number of cases

# if
    Syntax:
        if condition:
            //stmts
        () => optional

In [33]:
a=int(input("enter a value:"))
if(a==8):
    print(f"given number is: {a} equal to 8")

enter a value:8
given number is: 8 equal to 8

In [37]:
n = input("Enter Your name: ")
if n!="ramesh":
    print(f"Hi {n} You are not an admin to access a file or folder.")

Enter Your name: kiran
Hi kiran You are not an admin to access a file or folder.